.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0px !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}


/* Google Translate top bar पूर्ण hide */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

/* Body वर आलेला extra gap remove */
body {
  top: 0px !important;
}

/* Google logo & text hide */
.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

/* iframe force hide */
iframe.goog-te-banner-frame {
  display: none !important;
}